#app[data-view="vote"]
{
    main
    {
        width: 85%;
        height: 100vh;

        display: grid;
        grid-template-rows: 220px auto;

        #quest-review
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 220px;
            padding-left: 80px;

            h1
            {
                font-size: 25px;
                width: 50%;
                margin: 20px 0 0;
                line-height: 130%;
            }
        }

        #figures
        {
            position: relative;
            display: flex;

            justify-content: center;
            align-items: flex-start;

            z-index: 11;

            .figures-container
            {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 4px;

                width: 100%;
                min-height: 60vh;
            }

            figure
            {
                img
                {
                    width: 100%;
                }

                .broken-image
                {
                    position: relative;
                    display: flex;

                    flex-direction: column;

                    justify-content: center;
                    align-items: center;

                    height: 100%;
                    background: rgba(black, .2);

                    img
                    {
                        width: 300px;
                    }

                    span
                    {
                        font-family: get-font-family('quote');
                        font-size: 20px;
                        color: get-color('pastel');
                        margin-top: -5px;
                    }
                }
            }

            a.vote
            {
                position: absolute;
                display: block;

                top: 20px;
                left: 20px;

                width: 55px;
                height: 55px;

                border-radius: 100%;

                background-color: white;
                border: 1px solid get-color('grey');

                transition: transform 200ms;

                &:hover
                {
                    content: '';

                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url('../icons/accept-green.svg');

                    border: 1px solid darken(get-color('grey'), 15);

                    transform: scale(1.2);
                }
            }

            figure.right
            {
                a.vote
                {
                    left: auto;
                    right: 20px;

                    background-color: get-color('secondary');
                    border: 0;

                    &:hover
                    {
                        background-image: url('../icons/accept-white.svg');
                    }
                }
            }
        }

        &.done
        {
            grid-template-rows: 100%;

            #quest-review
            {
                display: none;
            }

            #figures
            {
                align-items: center;
                z-index: 0;

                p
                {
                    font-family: get-font-family('quote');
                    font-size: 40px;
                }
            }
        }
    }
}